node_modules/
.expo/
dist/
.turbo/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*.log
*.tsbuildinfo

.eslintcache
.cache
